<%- include("partials/header") -%>

    <h1>Home</h1>

    <p><%= homeContent %></p>

    <% totalPosts.forEach(function(post) { %>
        <% console.log(post.title); %>
    <% }); %>

<%- include("partials/footer") -%>
